
*.pdf

*.SUNet
*.pyc


examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py
examples/data/mnist
examples/graphs
assignments/chatbot/processed/*

