
*.pdf

*.SUNet
*.pyc


examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py
examples/data/mnist
examples/data/text8.zip
examples/processed
examples/graphs
examples/improved_graph
examples/my_graph
assignments/chatbot/processed/*

